* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color:#070726;
}   
.ba{
    position:absolute;
    bottom:0;
    right:100px;
    height:800px

} 
.navbar{
    background:linear-gradient(45deg,black,rgb(234, 15, 234),black);
    /* border-radius:10px; */
    position: fixed; 
    width: 100%; 
    top: 0; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
   
}

.navbar li{
    float:right;
    list-style: none;
    margin:25px;
    margin-right:20px;
 }
.navbar ul{
    overflow: auto;
    margin-right:100px;

}
.navbar li a{
    color:white;
    text-decoration:none;
    padding:5px;
    font-size: 18px;
    font-weight: bold;
}
.navbar li a:hover{
    color:rgb(215, 52, 52)
    
}
.logo {
    display: flex;
    align-items: center; /* Vertically center the items */
}    
.logo img {
    height: 70px;
    margin-right: 25px; 
}

.logo a{
    display:flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.logo span{
    font-size: 18px;
    font-weight: bold;
}
.tt{
    font-family:monospace;
    font-size:65px;
    font-weight:bold;
    color: white;
    position:absolute;
    left:60px;
    top:350px

}
.flex{
    display: flex;
    justify-content: center;
}
.bb{
    background-color: white;
    opacity: 0.1;
    position: absolute;
    bottom:50px;
    height: 700px;
    width: 1500px;

}
.bbb{
    background-color: white;
    opacity: 0.3;
    position: absolute;
    bottom:100px;
    height: 500px;
    width: 1400px;

    
}
.pp{
    position:absolute;
    top:220px;
    left:100px;
    color: white;
    font-weight: bold;
    font-size:30px;
}
/* Green button styles */
.greenbutton{
    border:none;
    border-radius: 50px;
    background-color:#389038; 
    color:white;
    font-size: 15px;
    padding:15px 35px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
/* Green button hover effect */
.greenbutton:hover {
    background-color: darkgreen;
}

.button-container {
    position: absolute;
    top: 220px;
    right: 100px; 
}