* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color:#070726;
}   
.ba{
    position:absolute;
    bottom:0;
    right:4.25rem;
    height: 50rem;

} 
.navbar{
    background:linear-gradient(45deg,black,rgb(234, 15, 234),black);
    /* border-radius:10px; */
    position: fixed; 
    width: 100%; 
    top: 0; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0.625rem 1.25rem;
   
}

.navbar li{
    float:right;
    list-style: none;
    margin:1.5625rem;
    margin-right:1.25rem;
 }
.navbar ul{
    overflow: auto;
    margin-right:6.25rem;

}
.navbar li a{
    color:white;
    text-decoration:none;
    padding:0.3125rem;
    font-size: 1.125rem;
    font-weight: bold;
}
.navbar li a:hover{
    color:rgb(215, 52, 52)
    
}
.logo {
    display: flex;
    align-items: center; /* Vertically center the items */
}    
.logo img {
    height: 4.375rem;
    margin-right: 1.5625rem; 
}

.logo a{
    display:flex;
    align-items: center;
    color: white;
    text-decoration: none;
}
.logo span{
    font-size: 1.125rem;
    font-weight: bold;
}
.tt{
    font-family:monospace;
    font-size:4.0625rem;
    font-weight:bold;
    color: white;
    position:absolute;
    left:3.75rem;
    top:21.875rem

}
.flex{
    display: flex;
    justify-content: center;
}
.bb{
    background-color: white;
    opacity: 0.1;
    position: absolute;
    bottom:3.125rem;
    height: 43.75rem;
    width: 93.75rem;

}
.bbb{
    background-color: white;
    opacity: 0.3;
    position: absolute;
    bottom:6.25rem;
    height: 31.25rem;
    width: 87.5rem;

    
}
.pp{
    position:absolute;
    top:13.75rem;
    left:6.25rem;
    color: white;
    font-weight: bold;
    font-size:1.875rem;
}
/* Green button styles */
.greenbutton{
    border:none;
    border-radius: 3.125rem;
    background-color:#389038; 
    color:white;
    font-size: 0.9375rem;
    padding:.9375rem 2.1875rem;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
/* Green button hover effect */
.greenbutton:hover {
    background-color: darkgreen;
}

.button-container {
    position: absolute;
    top: 220rem;
    right: 6.25rem; 
}