<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
               <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='quantum.png') }}" alt="QuantumVerse Logo">
                <span>QuantumVerse.ltd</span>
               </a>  
            </div>
            <ul>
                <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                <li><a href="{{ url_for('collaboration') }}">Collaboration</a></li>
                <li><a href="{{ url_for('overvision') }}">Over Vision</a></li>
                <li><a href="{{ url_for('manageemployee') }}">Manage Employees</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
        </nav>
    </header>
    <img src="{{ url_for('static', filename='blackastro.png') }}" class="ba" alt="Black Astro">
    <p class="tt">"Launch Your Career to<br> New Heights - Join  the<br> Future of Space<br>
</body>
</html>